.LoaderComponent::after{
    content:'';
    font-weight: 600;
    font-size: 100px;
    color: black;
    animation-name: animText;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animText {
    0% {content:'L'}
    10% {content:'Lo'}
    20% {content:'Loa'}
    30% {content:'Load'}
    40% {content:'Loadi'}
    50% {content:'Loadin'}
    60% {content:'Loading'}
    70% {content:'Loading.'}
    80% {content:'Loading..'}
    90% {content:'Loading...'}
    100% {content:'Loading....'}
    
}