.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/cvelectronicodediodavid.appspot.com/o/header.jpg?alt=media&token=9e5cfd56-8395-40a8-b419-fbd253bbf080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header-container>h1{
    font-size: 60px;
    background-color: rgba(150, 148, 148, 0.3);
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}