.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header-container>h1{
    font-size: 60px;
    background-color: rgba(150, 148, 148, 0.3);
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}