    .table-container {
        max-width: 90%;
        width: 1000px;
        margin: auto;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: 1px solid black;
        height: auto;
        max-height: 400px;
        overflow-y: auto;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
    }

    thead {
        color: black;
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgb(215, 210, 240);
    }

    th,
    td {
        padding: 1rem;
        text-align: left;
    }



    tbody tr {
        border-bottom: 1px solid #e2e8f0;
    }

    tbody tr:hover {
        background-color: #f1f5fb;
        transition: background-color 0.2s ease;
    }

    th {
        text-align: center;
    }

    .tipo {
        width: 5%;
    }

    .nombre {
        width: 15%;
    }

    .raza {
        width: 15%;
    }

    .edad {
        width: 5%;
    }

    .desc {
        width: 45%;
    }

    .red-house {
        color: red;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .green-house {
        color: green;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .td-conteiner {
        padding: 1rem 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .td-conteiner>a{
        border: 1px solid black;
        padding: 4px;
    }

    .btn-delete:hover {
        color: red;
        animation: delete 0.8s infinite;
    }

    .btn-adopt:hover {
        animation: pulse 0.8s infinite;
        color: red;
    }

    .btn-edit:hover {
        color: red;
        animation: vibrar 0.8s infinite;
    }

    @keyframes pulse {
        from {
            scale: 1;
        }

        to {
            scale: 1.2;
        }
    }

    @keyframes delete {
        from {
            opacity: 1;
        }

        to {
            opacity: 0.1;
        }
    }

    @keyframes vibrar {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translate(-2px, 2px);
        }

        40% {
            transform: translate(-2px, -2px);
        }

        60% {
            transform: translate(2px, 2px);
        }

        80% {
            transform: translate(2px, -2px);
        }

        100% {
            transform: translate(0);
        }

    }