    .table-container {
        max-width: 90%;
        margin: auto;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: 1px solid black;
        height: 400px;
        overflow-y: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
    }

    thead {
        color: white;
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: red;
    }

    th,
    td {
        padding: 1rem;
        text-align: left;
    }

    tbody tr {
        border-bottom: 1px solid #e2e8f0;
    }

    tbody tr:hover {
        background-color: #f1f5fb;
        transition: background-color 0.2s ease;
    }

    th {
        text-align: center;
    }

    .tipo {
        width: 5%;
    }

    .nombre {
        width: 15%;
    }

    .raza {
        width: 15%;
    }

    .edad {
        width: 5%;
    }

    .desc {
        width: 50%;
    }

    .estado {
        width: 10%;
    }

    .red-house {
        color: red;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .green-house {
        color: green;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    @media (max-width: 600px) {

        th,
        td {
            padding: 0.5rem;
        }
    }